.doc-col {
    width: 50%;
    vertical-align: top;
    display: inline-block;
}

.doc-wrapper {
    padding: 5%;
}

.text-box {
    background: #fff;
    padding: 20px;
    overflow: auto;
    max-height: 500px;
}

.mat-radio-button {
    width: auto;
}

.alert {
    font-size: 12px;
    color: #f44336;
    max-width: 300px;
}

.mat-table {
    width: 100%;
}

.mat-row:nth-child(even){
    background-color:lightblue;
}

.mat-header-row {
    background-color: lightgrey;
}

.mat-paginator {
    width: 100%;
    background-color: transparent;
}

.hide {
    display: none;
}
.space1{
  background-color: #ffffff
}
.btn{
  border-radius: 25px;
}
