.mat-app-background {
  height: 100%;
  background-image: url('../../../assets/images/getty-images-517629594-b-w.png') !important;
  position: fixed;
  background : 100% 100%
}

.content-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
}

.container {
  max-width: 95vw !important;


}
