.mat-table {
    width: 100%;
}

.btn-lrg {
    width: 300px;
}

.sub-div {
    width: 100%;
    margin-top: 20px;
}

.sub-div button {
    float: right;
    width: 15%;
    margin-bottom: 100px;
}

.mat-paginator {
    width: 100%;
    background-color: transparent;
}
// .mat-h1{
//   color:#fff;
// }

.tab {
  background-color:#fff !important;
  width:100%;
}

.tab:hover{
  background-color: green;
}
.tab:active{
  background-color: #00aabb;
}
