/* Login TAGS */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
    font-family: "Helvetica Neue";
}

a {
	font-family: HelveticaNeue;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;

	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}


.pagination li a {
	color: inherit;
}


.login-pic p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-style:normal;
    font-size: 18px;
    line-height: 1.7;
    color: white;
    letter-spacing: 0.6px;
    margin: 0px;
    position: relative;
    top: 10%;

    padding-left:25px;
    color:#fff;


   }

ul, li {
	margin: 0px;
	list-style-type: none;
}

.loginerror{
	padding-left: 50px;


    padding-top: 10px;

    position: absolute;
}


	input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #e6e6e6;
     font-family: HelveticaNeue;
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
    display: block;
    padding: 0 30px 0 0px;

}

textarea {
  outline: none;
  border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* login  styles*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}
  .topac{
    padding: 24px 2px;

  }

.top{
  margin-top:30px !important;
  margin-bottom: 0;
}

.container-login {
   min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  justify-content: center;
  align-items: center;
  padding: 80px;
    background-size: 100% 100%;
}

.wrap-login {
  width: 650px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.login-pic {
  width: 316px;
 background-color: #000000;
}

a:hover{
  color:#fff !important;


}
.login-pic img {
    max-width: 100%;
    width: 50%;
    margin: 30px 30px 10px 30px;
 }

.login-form {
  width: 320px;
  opacity: 0.95;
  background-color: #ffffff;
}

.login-form-title {
    font-family: HelveticaNeue;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 55px;
    top: 25px;
}

.wrap-input {
  position: relative;
  width: 90%;
  z-index: 1;
  margin-bottom: 10px;

}
.wrap-input1{
  text-align: center;
  padding-left: 30px;
}
.wrap-input12{
  text-align: center;
}


.input {
    font-family: HelveticaNeue;
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #e6e6e6;
    padding: 0 30px 0 60px;
}


/* Focus styles */
.focus-input {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}



.input:focus + .focus-input {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-hadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input + .symbol-input {
  color: #57b846;
  padding-left: 28px;
}
.container-login-form-btn12 {
width: 40%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 30px 35px 30px 5px;
}


.container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 35px 30px 5px;
}

.login-form-btn {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.login-form-btn12 {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22em;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;


}
.setting{
  margin-left:20em;
  border-radius: 18px;
}

.login-form-btn:hover {
  background: #333333;
}

.account {

  width: 166px;
  text-align: center;
  height: 18px;

  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  padding-left: 1em;
  color: #a8a8a8;

}
.xas{
  margin:0 5em;

}

.text-center1{
  text-align: center;
  color:#fff;
  text-decoration: none !important;
  background-color: transparent;
}
.register-version{
 transform: translateX(0%) translateY(14em);

}

.login-version{
  transform: translateX(0%) translateY(4.5em);
}

/* Responsive */

@media (max-width: 992px) {
  .wrap-login {
    padding: 177px 90px 33px 85px;
  }

  .login-pic {
    width: 35%;
  }

  .login-form {
    width: 50%;
  }

  .login-form1{
    width:20%
  }
}

@media (max-width: 768px) {
  .wrap-login {
    padding: 100px 80px 33px 80px;
  }
.container-login {
	background-size: 100% 100%;
}
  .login-pic {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login {
    padding: 100px 15px 33px 15px;
  }
  .container-login {
	background-size: 100% 100%;
}
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: HelveticaNeue;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: HelveticaNeue;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
  .container-login {
	background-size: 100% 100%;
}

}
