<div class="navbar fixed-bottom">
  <div class="toolbar">
    <mat-toolbar color="info">
      <div class="container">
          <div class="footer-item copyright">
              <span class="capco-name">Capco</span>
              <span class="capco-slogan">© 2019 The Future. Now.</span>
          </div>
      </div>
    </mat-toolbar>
  </div>
</div>
<!--
<footer class="footer"></footer><footer class="footer">
  <div class="toolbar">
    <div class="container">
      <span class="text-muted">footer</span>
        <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Night mode</mat-slide-toggle>
    </div>
  </div>
</footer>
 -->
