.mat-toolbar {
    width: 100vw;
    color:black;
}
.navbar {
    padding: 0;
}

.capco-name {
    font-family: "Tungsten A", "Tungsten B", Impact, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:#000000;
}

.capco-slogan {
    font-family: "UniversCond", Arial, sans-serif;
    font-size: 15px;
    margin-left: 5px;
}
