 <section id="content" >
  <div class="wrapper">
  <div class="container-login">
    <div class="wrap-login">
      <div class="login-pic">
        <!--  <img src="../assets/images/capco_logo.png" alt="IMG">
        <img src="../../assets/images/group.png" alt="IMG">
        <p>FDIC Rule 370<br/><br/>OCR Solution<br/>For Data Remediation<br /></p>
      </div>-->

      <form  class="login-form validate-form">
       <!-- <span class="login-form-title">

        </span>-->

        <div class="wrap-input" >
         <h3>Congratulation</h3>
          <span class="focus-input"></span>


        </div>

        <div class="wrap-input1" >
           <p style="margin-left: 5px;"><img src="../../assets/images/asset-3-2-x.png"></p>
          <span class="symbol-input">

          </span>

        </div>
        <div class="wrap-input" >
          <p class="You-have-been-succes">You Have been Successfully <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;registered</p></div>

        <div class="container-login-form-btn">
          <button class="login-form-btn" (click)="close()">
            Continue
          </button> -->



          <!-- <ng-template #template>

              <form  class="login-form1 validate-form"  >
                <span class="login-form1-title" >

                </span>

                <div class="wrap-input1" >
                 <h3 style="text-align: center">Congratulations</h3>
                  <span class="focus-input"></span>


                </div>

                <div class="wrap-input1" >
                   <p><img src="../../assets/images/group-2.svg"></p>
                  <span class="symbol-input">

                  </span>

                </div>
                <div class="wrap-input1" >
                  <p class="You-have-been-succes">You Have been Successfully <br>registered</p></div>

                <div  class="container-login-form-btn12">

                  <button id="btn12" class="login-form-btn12" (click)="close()">
                    Continue
                  </button>
</div>


              </form>



<!--<div class="modal-header">
<h4 class="modal-title pull-left">Confirmation</h4>
<button type="button" class="close pull-right" aria-label="CLose">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body text-center">
<p class="list-group-item active"></p>
<ul class="list-group">
<li class="list-group-item"></li>
</ul>
</div>
  </ng-template> -->


        </div>
      </form>
    </div>
  </div>
</div>




<!--<mat-dialog-actions>
    <button mat-raised-button color="dark" (click)="close()">Close</button>
</mat-dialog-actions>-->
